Game Day is Saturday

Blacklist:
destiny2.exe
horus_x64.exe Turok 2 <- Good use of a comment.
darksoulsiii.exe The actual process name is DarkSoulsIII.exe,
	but in Windows almost everything is case-insensitive.
 These lines begin with whitespace, so they are also comments.
 You can use this to describe a section of not-so-clear process names:

  Black Ops II
t6zm.exe
t6mp.exe
t6sp.exe

Or-Even-An-Ol-Minecraft.jar